@import "../scss/style.scss";

@media screen and (max-width:640px) {

  // -----------------------------
  // ヘッダー
  // -----------------------------

  .top {
    header {
      h1 {
        width: 120px;
        padding: 0;
        margin: 0 0 0 20px;
      }

      nav {
        ul {
          display: none;

          li {
            display: none;
          }
        }
      }
    }

    p {
      display: none;
    }

    .home-top {
      img.logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        width: 70%;
      }
    }

    .scroll {
      display: none;
    }
  }


  // -----------------------------
  // メイン コンテンツ
  // -----------------------------

  .tate {
    width: 310px;
    height: 570px;

    h2 {
      font-size: 18px;
      line-height: 30px;
      width: 30px;
    }

    p {
      width: 250px;
      line-height: 30px;
      letter-spacing: 0.7em;
    }
  }


  .yoko {
    margin-left: 10%;
    margin-bottom: 200px;

    h3 {
      font-size: 18px;
      margin-bottom: 10px;
      line-height: 1.6;

      br {
        display: block;
      }
    }

    h4 {
      font-size: 14px;
      line-height: 1.6;

      br {
        display: block;
      }

    }
  }

  // トップへ戻るボタンの調整

  #page-top {
    left: -15px;
    bottom: 90px;
    z-index: 100;
  }

  // -----------------------------
  // フッター
  // -----------------------------

  footer {
    padding: 100px 0 20px 40px;

    .inner {
      flex-direction: column;
      width: 100%;

      .footer-wrapper {
        flex-direction: column;

        .footer-left {
          width: 100%;

          h1 {
            margin-bottom: 70px;
          }

          a.nav-icon {
            display: none;
          }
        }
      }

      .footer-right {
        width: 100%;
        @include flex-row();
        flex-wrap: nowrap;
        justify-content: start;


        .footer-access {
          margin: 0;
        }

        .footer-telephone {
          margin-top: -50px;
          margin-bottom: 150px;
        }

        .footer-nav {
          display: none;
        }

        small {
          color: #657A81;
          font-size: 10px;
          line-height: 1.6;
          display: inline-block;
          margin-bottom: 100px;
        }
      }

    }
  }

  // -----------------------------
  // メイン アクティビティ
  // -----------------------------

  .btn-area {
    width: 360px;
  }

  .activity {
    padding-bottom: 20px;

    .copy {
      width: 320px;
      margin-left: 30px;

      h2 {
        margin-bottom: 10px;
        font-size: 36px;
      }

      h3 {
        font-size: 14px;
      }
    }

    // プールセクション

    section.pool {
      flex-direction: column;
      width: 100%;
      height: 650px;
      padding-bottom: 80px;


      .first-left {
        width: 100%;
        height: 100%;
      }

      .first-right {
        top: 0;
        right: 0;
        width: 75%;
        height: 100%;
        margin-left: 50px;
        padding: 60px 0;
      }

      // 横線のあしらいの記述
      // ーーーーーーーーーー

      .first-right:before {
        left: -195px;
      }
    }


    // アクティブセクション

    section.stay {
      flex-direction: column;
      width: 100%;
      height: 650px;
      padding-bottom: 80px;

      .second-right {
        width: 100%;
        height: 100%;
        order: 1;
      }

      .second-left {
        top: 0;
        right: 0;
        width: 75%;
        height: 440px;
        margin-right: 0;
        margin-left: 50px;
        padding: 60px 0 60px 0;
        order: 2;
      }

      // 横線のあしらいの記述
      // ーーーーーーーーーー

      .second-left:before {
        //親タグに:beforeで細かい設定をつける
        right: 0;
        left: -195px;
      }
    }

    // ビーチセクション

    section.beach {
      flex-direction: column;
      width: 100%;
      height: 650px;
      padding-bottom: 80px;

      .first-left {
        width: 100%;
        height: 100%;
      }

      .first-right {
        top: 0;
        right: 0;
        width: 75%;
        height: 100%;
        margin-left: 50px;
        padding: 60px 0;
      }

      // 横線のあしらいの記述
      // ーーーーーーーーーー

      .first-right:before {
        left: -195px;
      }

    }


    // 観光セクション

    section.sightseeing {
      flex-direction: column;
      width: 100%;
      height: 650px;
      padding-bottom: 80px;

      .second-right {
        width: 100%;
        height: 100%;
        order: 1;
      }

      .second-left {
        top: 0;
        right: 0;
        width: 75%;
        height: 440px;
        margin-right: 0;
        margin-left: 50px;
        padding: 60px 0 60px 0;
        order: 2;
      }

      // 横線のあしらいの記述
      // ーーーーーーーーーー

      .second-left:before {
        //親タグに:beforeで細かい設定をつける
        right: 0;
        left: -195px;
      }
    }
  }

  // -----------------------------
  // メイン NEWS
  // -----------------------------

  .news {

    .wrapper {
      @include flex-row();
      flex-direction: column;
      margin: 0 auto;
      width: 70%;

      .card {
        width: 100%;
        margin-bottom: 50px;
        margin-left: 0;

        img {
          margin-bottom: 15px;
        }

        .date {
          font-size: 13px;
          margin-bottom: 5px;
        }
      }

      .card:last-child {
        margin-bottom: 0;
      }
    }
  }

  // -----------------------------
  // stay コンテンツ
  // -----------------------------

  #stay {

    .top {
      .home-top {

        img {
          width: 100%;
          height: 80%;
          object-fit: cover;

          margin-left: 0;
          margin-right: 0;
        }

        .name-menu {
          width: 350px;
          height: 160px;
          top: 79%;
          right: 20px;

          h2 {
            font-size: 45px;
            text-align: right;
            width: 350px;
            height: 160px;

            br {
              display: block;
            }
          }
        }

        // 横線のあしらいの記述
        // ーーーーーーーーーー
        div.is-show:before {
          //親タグに:beforeで横幅をつける
          width: 120px;
          right: 50px;
        }

        .name-menu:before {
          //親タグに:beforeで細かい設定をつける
          @include right-line();
          top: 30px;
          left: 55px;
        }
      }
    }

    .contents {
      .tate {
        height: 450px;
      }
    }

    .room-list {

      h2 {
        font-size: $fontsize-h2;
        width: 235px;
        margin: 0 auto;
        margin-bottom: 150px;
      }

      .presidential {
        margin-left: 20px;
        width: 100%;
        height: 850px;
        margin: 0 auto 230px auto;
        flex-direction: column;

        .first-left {
          width: 80%;
          margin: 0 auto;
        }

        .first-right {
          width: 100%;
          padding: 60px 50px;

        }

        // 横線のあしらいの記述
        // ーーーーーーーーーー
        .first-right:before {
          left: -165px;
        }
      }

      .crown {
        margin-left: 20px;
        width: 100%;
        height: 850px;
        margin: 0 auto 90px auto;
        @include flex-row();
        flex-direction: column;

        .second-right {
          margin: 0 auto;
          width: 80%;
          order: 1;
        }

        .second-left {
          order: 2;
          width: 100%;
          padding: 60px 50px;
        }

        // 横線のあしらいの記述
        // ーーーーーーーーーー
        .second-left.is-show:before {
          right: 165px;
        }
      }

      .royal {
        margin-left: 20px;
        height: 800px;
        width: 100%;
        margin: 0 auto 130px auto;
        @include flex-row();
        flex-direction: column;

        .first-left {
          margin: 0 auto;
          width: 80%;
        }

        .first-right {
          width: 100%;
          padding: 60px 50px;
        }

        // 横線のあしらいの記述
        // ーーーーーーーーーー
        .first-right:before {
          left: -165px;
        }
      }

      .premium {
        margin-left: 20px;
        width: 100%;
        height: 850px;
        margin: 0 auto 200px auto;
        @include flex-row();
        flex-direction: column;

        .second-right {
          margin: 0 auto;
          width: 80%;
          order: 1;
        }

        .second-left {
          order: 2;
          width: 100%;
          padding: 60px 50px;
        }

        // 横線のあしらいの記述
        // ーーーーーーーーーー
        .second-left.is-show:before {
          right: 165px;
        }
      }
    }

    .plan {

      h2 {
        margin: 50px 0 80px 0;
      }

      .wrapper {
        @include flex-row();
        flex-direction: column;
        width: 80%;
        height: 1500px;
        margin: 0 auto 270px auto;


        .card {
          width: 100%;
          margin-bottom: 60px;

          div.img {
            img {
              max-height: 300px;
              object-fit: cover;
            }
          }

          div.p {
            margin: 0;
            width: 100%;
            height: 530px;
            background-color: $base-color;
            position: relative;
            padding: 30px;

            a {
              display: block;
              color: #657A81;

              h5 {
                font-size: 18px;
                line-height: 1.6;
                margin-bottom: 30px;
              }

              p {
                margin-bottom: 30px;
              }

              .planp-flex {
                @include flex-row();
                flex-wrap: wrap;
                justify-content: flex-end;
                margin: 50px 0 0 0;
                height: 150px;


                p.date {
                  font-size: 14px;
                  width: 100%;
                  margin-bottom: 20px;
                }

                p.meal {
                  width: 140px;
                  height: 35px;
                  line-height: 35px;
                  text-align: center;
                }
              }

              .planp-flex:last-child {
                margin-top: auto;
              }
            }
          }

          div.p:last-child {
            margin-bottom: auto;
          }
        }
      }
    }

    .info {

      .point {
        @include flex-row();
        align-items: center;
        width: 300px;
        height: 60px;
        margin: 30px auto 0 auto;

        p {
          font-size: 14px;
          margin-right: 5px;

          img {
            margin: 0 -15px 0 7px;
          }
        }

        p:last-child {
          margin-top: 7px;
        }
      }
    }
  }


  // -----------------------------
  // bar コンテンツ
  // -----------------------------

  #bar {

    .top {

      .home-top {

        img {
          width: 100%;
          height: 80%;
          object-fit: cover;

          margin-left: 0;
          margin-right: 0;
        }

        .name-menu {
          width: 350px;
          height: 160px;
          top: 79%;
          right: 20px;

          h2 {
            font-size: 45px;
            text-align: right;
            width: 350px;
            height: 160px;

            br {
              display: block;
            }
          }
        }

        // 横線のあしらいの記述
        // ーーーーーーーーーー
        div.is-show:before {
          //親タグに:beforeで横幅をつける
          width: 120px;
          right: 50px;
        }

        .name-menu:before {
          //親タグに:beforeで細かい設定をつける
          @include right-line();
          top: 30px;
          left: -100px;
        }
      }
    }

    .contents {
      // background-color: red;
      width: 340px;
      padding-right: 15px;
      margin: 0 auto;

      .tate {
        height: 320px;

        h2 {
          width: 250px;
        }
      }

    }


    .restaurant-list {
      .copy {
        img {
          height: 150px;
          margin-top: -60px;
          margin-bottom: 150px;
        }
      }

      .osean-view {
        margin-left: 0;
        height: 780px;
        width: 80%;
        margin: 0 auto;
        flex-direction: column;
        justify-content: start;

        .first-left {
          display: none;
        }

        .first-center {
          left: 0;
          width: 100%;
          order: 1;
        }

        .first-right {
          top: 0;
          left: 0;
          order: 2;
          width: 100%;
          padding: 60px 0;
        }
      }

      .bbq {
        margin-left: 0;
        height: 700px;
        width: 80%;
        margin: 0 auto;
        flex-direction: column;
        justify-content: start;


        .second-right {
          display: none;
        }

        .second-center {
          top: 0;
          left: 0;
          width: 100%;
          order: 1;
        }

        .second-left {
          top: 0;
          left: 0;
          order: 2;
          width: 100%;
          padding: 60px 0;
        }
      }


      .breakfast {

        margin-left: 0;
        height: 800px;
        width: 80%;
        margin: 0 auto;
        flex-direction: column;
        justify-content: start;

        .first-left {
          display: none;
        }

        .first-center {
          left: 0;
          width: 100%;
          order: 1;
        }

        .first-right {
          top: 0;
          left: 0;
          order: 2;
          width: 100%;
          padding: 60px 0;
        }
      }
    }
  }


  // -----------------------------
  //  アクセス
  // -----------------------------

  #access {

    .top {
      .home-top {

        .iframe {
          height: 50vh;
          top: -50px;
          left: -50%;
          object-fit: contain;
          width: 100%;
          max-width: 100%;
          height: auto;
          text-align: right;
        }

        .name-menu {
          width: 100%;
          left: 10px;
          width: 280px;


          h2 {
            font-size: 45px;

            br {
              display: block;
            }
          }

        }

        // 横線のあしらいの記述
        // ーーーーーーーーーー
        div.is-show:before {
          width: 60px;
        }

        .name-menu:before {
          top: 80px;
          left: 98%;
        }
      }
    }

    .transportation {
      background-color: $sub-color;
      padding-top: 250px;

      .t-wrapper {
        width: 80%;
        margin: 0 auto 150px auto;
        flex-direction: column;

        .car {
          width: 100%;
          margin-bottom: 50px;
        }

        .bus {
          width: 100%;
          margin: 100px auto 0 auto;
        }
      }

      .p-wrapper {
        width: 80%;
        margin: 0 auto;
        flex-direction: column;

        .parking {
          width: 100%;

          .flow {
            margin-left: 10px;

            .first-left {
              width: 40px;
              margin: 0 auto;

              img {
                width: 10.7px;
              }
            }

            ul {
              width: 250px;

              li {
                margin-top: -10px;
                height: 70px;
              }
            }
          }
        }

        .price {
          width: 100%;
          margin-top: 80px;
          margin-left: 10px;

          ul {
            li {
              br {
                display: inline-block;
              }
            }
          }
        }
      }

      .address {
        height: 750px;

        .inner {
          margin: 150px auto 200px auto;
          width: 80%;
          height: 530px;
          text-align: center;
          margin-bottom: 150px;
          padding: 70px 0;


          ul {
            flex-direction: column;
            width: 70%;
            margin-bottom: 30px;

            li {
              margin-bottom: 10px;
              line-height: 1.6;

              br {
                display: block;
              }
            }

            li:first-child {
              width: 100%;
            }
          }
        }
      }
    }
  }


}